.body-container{
    display: flex;
    padding: 20px 10px;
    background-color: #fff;
    border: 2px solid gray;  
    box-shadow: 5px 5px 10px gray;
    margin: 10px;
}
.friend-container{
    width: 50%;
    margin-left: 20px;
    margin-right: 5px;
    border-right: 1px solid lightgoldenrodyellow;
}
.summary-container{
    width: 50%;

}