.every-friend{
    text-align: center;
    border: 1px solid gray;
    line-height: 10px;
    border-radius: 5px; 
    overflow: hidden;
    padding:5px; 
    margin: 5px;
}
.img-class{
    float: left;
    margin-right: 50px;
    justify-self: start;
}
.img-class img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
}
.profile-class{
    text-align: justify;
    
}
.pay-btn,.paid{
    background-color: #4267B2;
    color: white;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.paid{
    background-color: gray;
    cursor: default;
}
